{
    "presets": [
        [
            "@babel/preset-env",
            {
                useBuiltIns: "usage",
                corejs: 3,
                debug: false,
                exclude: [
                    "es.promise",
                    "es.object.to-string",
                    "web.url"
                ]
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
