language: node_js
node_js:
  - "8"
cache: yarn
jobs:
  include:
    - stage: test
      addons:
        apt:
          packages:
          - xvfb
      before_script:
       - export DISPLAY=':99.0'
       - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      script:
        - yarn run test
